<h2>Newsgroups</h2>
{{#if controller}}
  {{#if syncIsStale}}
    <div id="sync_warning">
      <b>Warning:</b> Last sync with the news server was {{syncTimeAgo}}.
    </div>
  {{/if}}
  <nav>
    {{#each newsgroups in newsgroupGroups}}
      <ul>
        {{#each newsgroup in newsgroups}}
          <li {{bind-attr class="newsgroup.personalClass newsgroup.unreadCount:unread newsgroup.postingAllowed::read_only"}}>
            {{#link-to 'newsgroup.index' newsgroup}}
              {{newsgroup.name}}
              {{#if newsgroup.unreadCount}}
                ({{newsgroup.unreadCount}})
              {{/if}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </nav>
{{else}}
  <p>Loading...</p>
{{/if}}
